{{!-- Static Content Below --}}
<div class="banner">
    <div class="banner-content">
        <figure class="image banner-svlogo-size">
            <img class="is-rounded"
                src="https://cdn.discordapp.com/icons/749948917940092938/a_be977943fe6a2da41857dd464c4500ce.png?size=4096"
                alt="Placeholder image">
        </figure>
        <h1 class="title is-large has-text-white has-text-centered is-vcentered">{{lbServerName}}</h1>
    </div>
</div>
<div class="column is-three-quarters">
    <div class="field has-addons">
        <div class="control">
            <input onkeyup="search()" id="searchbar" class="input is-normal is-hovered" type="text"
                placeholder="Search ...">
        </div>
        <div class="control">
            <button type="submit" class="button is-normal is-light is-info"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
</div>

<div class="columns">
    {{!-- Static Content for MOBILES ONLY!! --}}
    <div
        class="column is-one-quarter is-hidden-desktop is-hidden-widescreen is-hidden-fullhd is-full-tablet is-full-mobile">
        <div class="box info-box">
            <a onclick="dropdown('works-content', 'works-arrow')" class="has-text-white is-size-4">
                <i class="fa-solid fa-angle-down" id="works-arrow"></i>
                <h1 class="has-text-white is-size-4">How It Works</h1>
            </a>
            <div class="is-hidden" id="works-content">
                <hr>
                <p class="has-text-grey">Every minute that you're messaging, you randomly gain between 15 and 25 XP.</p>
                <br>
                <p class="has-text-light-grey">To avoid spamming, earning XP is limited to once a minute per user.</p>
                <br>
                <p class="has-text-grey">Use commands <span class="tag has-text-white commands-span-color">/rank</span>
                    or
                    <span class="tag has-text-white">!rank</span> to check your rank and level.
                </p>
            </div>
        </div>
        <div class="box info-box rw">
            <a onclick="dropdown('rw-content', 'rw-arrow')" class="has-text-white is-size-4">
                <i class="fa-solid fa-angle-down" id="rw-arrow"></i>
                <h1 class="has-text-white is-size-4">Role Rewards</h1>
            </a>
            <div class="is-hidden" id="rw-content">

                <hr>
                <p class="is-size-5">Level 5 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                        style="--rw-color: #87bdf8">Normies</span></p>
                <br>
                <p class="is-size-5">Level 10 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                        style="--rw-color: #5cc6f5">Hypesquad</span></p>
                <br>
                <p class="is-size-5">Level 20 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                        style="--rw-color: #1b82ff">Kōhai</span></p>
                <br>
                <p class="is-size-5">Level 50 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                        style="--rw-color: #f19999">Senpai</span></p>
                <br>
                <p class="is-size-5">Level 100 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                        style="--rw-color: #ff4a5d">No Life Gang</span></p>
            </div>
        </div>
    </div>
    {{!-- Dynamic Side --}}
    <div class="column is-three-quater">

        <div class="box" id="lb-box">
            {{#each lbdata}}
            {{#if @index}}
            <hr class="lb-divider" id="divider-{{@index}}"> {{/if}}

            <div class="lb-data" id="{{@index}}">
                <div class="data-start">
                    <h2 class="has-text-white is-large lb-position" style="--positionColor: {{ positionColor @index}}">
                        {{this.position}}</h2>
                    <figure class="image is-48x48 pfp">
                        <img class="is-rounded" src="{{this.pfp}}" alt="Placeholder image">
                    </figure>
                    <h1 class="has-text-white is-large is-size-5">{{this.tag}}</h1>
                </div>
                <div class="data-end">
                    <div class="xp">
                        <h1 class="has-text-white is-large is-size-6">Experience</h1>
                        <p class="has-text-grey-light has-text-centered is-large is-size-6">{{this.shortxp}}</p>
                    </div>
                    <div class="lvl">
                        <h1 class="has-text-white is-large is-size-6">Level</h1>
                        <p class="has-text-grey-light has-text-centered is-large is-size-6">{{this.level}}</p>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>

    </div>

    {{!-- Static Content Below --}}

    <div class="column is-one-quarter is-hidden-mobile is-hidden-tablet-only">
        <div class="box info-box">
            <h1 class="has-text-white is-size-4">How It Works</h1>
            <hr>
            <p class="has-text-grey">Every minute that you're messaging, you randomly gain between 15 and 25 XP.</p>
            <br>
            <p class="has-text-light-grey">To avoid spamming, earning XP is limited to once a minute per user.</p>
            <br>
            <p class="has-text-grey">Use commands <span class="tag has-text-white commands-span-color">/rank</span> or
                <span class="tag has-text-white">!rank</span> to check your rank and level.
            </p>
        </div>
        <div class="box info-box rw">
            <h1 class="has-text-white is-size-4">Role Rewards</h1>
            <hr>
            <p class="is-size-5">Level 5 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                    style="--rw-color: #87bdf8">Normies</span></p>
            <br>
            <p class="is-size-5">Level 10 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                    style="--rw-color: #5cc6f5">Hypesquad</span></p>
            <br>
            <p class="is-size-5">Level 20 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                    style="--rw-color: #1b82ff">Kōhai</span></p>
            <br>
            <p class="is-size-5">Level 50 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                    style="--rw-color: #f19999">Senpai</span></p>
            <br>
            <p class="is-size-5">Level 100 <i class="fa-solid fa-right-long"></i> <span class="tag is-medium lb-rw"
                    style="--rw-color: #ff4a5d">No Life Gang</span></p>
            <br>
        </div>
    </div>
</div>



<script src="/js/lb-page/app.js"></script>